html {
	background: #FFF;
}

body {
	padding-top: 100px;
}

body,html {
	margin: 0 !important;
}

header {
	width: 100%;
	font-family: sans-serif;
	text-align: center;
	background-color: #3399FF;
	color: #FFF;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
	position: fixed;
	top: 0;
	left: 0;
}

html, body {
	background-color: #99c76b;
	height: 100%;
}

div {
	display: block;
	
	font-size: 55px;
	
	position: absolute;
	top: 0;
	left: 0;
	
	width: 50px;
	height: 50px;
	
	border-radius: 50%;
	
	transition: all 0.3s;
}
